@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 5px
}

.wrapper {
    width: 70%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(255, 235, 255);
    padding: 10px 0 10px 0;
}

.wrapper-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.wrapper-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    width: 500px;
}

.botoes .btn {
    padding: 10px 18px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: #ffbf60;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px;
    transition: 250ms all;
}

.botoes .btn:hover {
    background-color: #ff9900;
    
}

.botoes .btn:last-child {
    background-color: rgb(255, 112, 112)
}

.botoes .btn:last-child:hover {
    background-color: rgb(255, 24, 24)
}

.wrapper label {
    font-size: 0.8em;
}

.general-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 15px;
}

.input-lower {
    width: 90%;
    display: flex;
}

.input-lower input {
    border: 1px solid #969696;
    padding: 4px 10px;
    width: 100%;
    text-align: center;
} 

#box-left {
    text-align: center;
    width: 30px;
    background-color: rgb(226, 224, 224);
    border: 1px solid #969696;
    border-right: none;
}

.result-wrapper {
    display: flex;
    gap: 30px;
}

.result-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    background-color: #e6e6e6;
    text-align: center;
    border: 1px solid red;
    line-height: 5px;
    font-size: 0.8em;
}

.result-box p:last-child {
    font-weight: bold;
    margin-top: 1px;
    font-size: 1.5em;
}

.result-box p:last-child::before {
    content: 'R$ '
}